{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./source"
                ],
                "alias": {}
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": "commonjs"
            }
        ]
    ]
}